<section id="services" class="service-item">
       <div class="container">
            <div class="center wow fadeInDown">
                <br />
                <h2>Coming Soon</h2>

            </div>

    </div>
    <a href="<%= request.url%>/register">Register
    </a>

</section>
