<h1>Mass Volunteers data</h1>

Enter data:
Ex: 12,3+12,32+24,23 so on => 12 is volunteer request ID, 3 is event ID. '+' is the seperation between two commands

<%= form_tag WEBLINK+"admin/massvolunteersprocess" do %>

	<%= text_area_tag(:data) %>

<br />

<%= submit_tag "Process" %>

<% end %>