<section id="contact-info">
        <div class="center">                
            <h2>How to Reach Us?</h2>
        </div>
        <div class="gmap-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 text-center">
                        <div class="gmap">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.978293777373!2d77.661058214793!3d12.844678421126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae135aeb7f340f%3A0x3ad86af40d2ac611!2sInternational+Institute+of+Information+Technology!5e0!3m2!1sen!2sin!4v1453008737374" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 map-content">
                        <ul class="row">
                            <li class="col-md-6 col-lg-6">
                                <address>
                                    <h5>Venue</h5>
                                    IIIT-Bangalore<br />
                                    26/C, Electronics City,<br />
                                    Hosur Road,<br />
                                    Bangalore - 560100<br /><br />

                                    <h5>Phone</h5>
                                    +91 80 4140 7777<br>+91 80 2852 7627<br />
                                    <br /><br />
                                     <h5>Email IDs</h5>
                                     <p> SrivedaReddy.Chevuru@iiitb.org</p>
                                    <p> sac2015@iiitb.org</p>
                                </address>
                            </li>


                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
  <style>


      @media screen and (max-width: 630px){

          #mapvikas{
              width:95%!important;
          }

      }
  </style>
    </section>  <!--/gmap_area -->
