// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#hov:hover{
  background-color: #93bb24;
} 

table tr{
	color:white
}

#game-hov:hover{
	color: white;
}

.animations{
	text-align: center
    
}


.animations:hover {
    transform:translateY(-20px);
}